/**************************/
/* NOMAD LIST */
/**************************/

.nomad-list {
  width: 26rem;
  height: 100vh;
  padding: 3.5rem 1.7rem 0 2.3rem;

  backdrop-filter: blur(20px);
  background: rgba(37, 39, 42, 0.75);
  mix-blend-mode: normal;
  overflow-y: scroll;
}

.nomad-list::-webkit-scrollbar {
  width: 0.7rem;
  padding: 0.65rem;
  background: none;
}

.nomad-list::-webkit-scrollbar-thumb {
  /* width: 0.7rem; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
}

.nomad-list-header {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 1rem;
  align-items: baseline;
  justify-items: end;
}

.nomad-list-heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #fff;
}

.btn {
  background: none;
  border: none;
  height: auto;
  cursor: pointer;
}

.nomad-list-down {
  background: url(/img/interface/chevron-down.svg);
  width: 10px;
  height: 7px;
}

.nomad-list-settings {
  background: url(/img/interface/settings.svg);
  width: 14px;
  height: 15px;
}

.all-threads {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.1rem;
  margin-top: 3rem;
}

.all-threads-icon {
  background: url(/img/interface/bubble.svg) no-repeat center;
  width: 18px;
  height: 18px;
}

.all-threads p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #b5b5b5;
}

.nomad-list-section-heading {
  display: flex;
  justify-content: space-between;
}

.nomad-list-section-heading p {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;

  text-transform: uppercase;
  color: #919191;
}

/* CHANNELS */

.channels {
  margin-top: 3.15rem;
}

.channels-nav {
  margin-top: 1.5rem;
}

.channels-nav-link:link,
.channels-nav-link:visited {
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #b5b5b5;
  text-decoration: none;
  transition: all 0.3s;
}

.channels-nav-link:hover,
.channels-nav-link:active {
  background: rgba(255, 255, 255, 0.2);
  mix-blend-mode: normal;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
}

.channels-nav-link p {
  width: 100%;
  padding: 0.3rem 0 0.9rem 1.3rem;
  border-radius: 5px;
}

.channels-nav-link-active p {
  background: rgba(255, 255, 255, 0.2);
  mix-blend-mode: normal;
  color: #fff;
  font-weight: 500;
}

/* FRIENDS */

.friends {
  margin-top: 1rem;
}

.friends-list {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.friends-list-item {
  display: flex;
  align-items: center;
  border: none;
  background: inherit;
  cursor: pointer;
}

.friends-list-avatar {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 0.8rem;
  margin-right: 1.25rem;

  border-radius: 5px;
  mix-blend-mode: normal;
  opacity: 0.9;
}

.avatar-Orlando {
  background: url(/img/avatars/Orlando\ Diggs.png);
  background-size: cover;
}

.avatar-Carmen {
  background: url(/img/avatars/Carmen\ Velasco.png);
  background-size: cover;
}

.avatar-Marie {
  background: url(/img/avatars/Marie\ Jensen.png);
  background-size: cover;
}

.avatar-Alex {
  background: url(/img/avatars/Alex\ Lee.png);
  background-size: cover;
}

.avatar-Leo {
  background: url(/img/avatars/Leo\ Gill.png);
  background-size: cover;
}

.avatar-Britney {
  background: url(/img/avatars/Britney\ Cooper.png);
  background-size: cover;
}

.friends-list-item p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #b5b5b5;
}

/**************************/
/* PROFILE */
/**************************/

.profile {
  width: 20rem;
  background: rgba(255, 255, 255, 0.8);
  mix-blend-mode: normal;
  backdrop-filter: blur(20px);
}

.profile-photo {
  width: 20rem;
  height: 20rem;
  background: url(/img/photo\ of\ a\ girl\ in\ a\ dress.png) no-repeat;
  background-position: 45% 16%;
  background-size: 266%;
}

.profile-text-box {
  padding: 1.5rem 2rem 2.8rem 2rem;
  height: calc(100% - 20rem);
  display: flex;
  flex-direction: column;
}

.profile-name {
  display: flex;
  align-items: baseline;
  gap: 0.55rem;
}

.profile-name h2 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #000;
}

.profile-description {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #5f6164;
  margin-top: 0.45rem;
}

.profile-network {
  display: flex;
  gap: 0.65rem;
  margin-top: 2.1rem;
}

.profile-network-logo:link,
.profile-network-logo:visited {
  display: block;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
}

.facebook {
  background: url(/img/socialmedia/facebook\ icon.svg) no-repeat #e8e8eb;
  background-position: 45%;
}

.twitter {
  background: url(/img/socialmedia/twitter\ icon.svg) no-repeat #e8e8eb;
  background-position: 45%;
}

.instagram {
  background: url(/img/socialmedia/instagram\ icon.svg) no-repeat #e8e8eb;
  background-position: 50%;
}

.linkedin {
  background: url(/img/socialmedia/LinkedIn\ icon.svg) no-repeat #e8e8eb;
  background-position: 60%;
}

.profile-cta {
  display: flex;
  gap: 0.3rem;
  margin-top: 1.9rem;
}

.profile-cta-message {
  width: 13.3rem;
  height: 2.5rem;
  border-radius: 5px;
  background: #3577ef;

  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-align: center;
  color: #fff;
}

.profile-cta-down {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  background: #3577ef url(/img/interface/triangular_arrow.svg) no-repeat;
  background-position: center;
}

.profile-contacts {
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.profile-contact {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.profile-contact-name {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #5f6164;
}

.profile-contact-val {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #000;
}

.profile-caret-right {
  display: block;
  justify-self: end;
  width: 1rem;
  height: 1.6rem;
  background: url(/img/interface/caret-right.svg) no-repeat;
  background-position: center;
  margin-top: auto;
  margin-left: auto;
}

/**************************/
/* CHAT */
/**************************/

.chat {
  background: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  padding: 3.2rem 2.3rem 1.6rem 2.3rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.24);
}

.chat-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.chat-title h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #000;
}

.chat-title-icon {
  width: 1.5rem;
  height: 1.5rem;
  background: url(/img/interface/star.svg) no-repeat;
  background-position: center;
}

.chat-header-people {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-left: auto;
}

.chat-header-people-icon {
  width: 1.05rem;
  height: 1.5rem;
  background: url(/img/interface/pop.svg) no-repeat;
  background-position: center;
}

.chat-header-people-count {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #a4a4a4;
}

.chat-header-search {
  width: 24.2rem;
  /* height: 3.3rem; */
  background: rgba(0, 0, 0, 0.0001);
  border: 0.5px solid rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 1.7rem 0 1.4rem;
}

.chat-header-search input {
  /* width: auto; */
  flex-grow: 1;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #8d8d8d;
  padding: 0.6rem 0;
  border: none;
}

.chat-header-search button {
  width: 1.5rem;
  height: 1.5rem;
  background: url(/img/interface/loupe.svg) no-repeat;
  background-position: center;
}

.chat-header-notifications {
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  background: url(/img/interface/bell.svg) no-repeat;
  background-position: center;
}

.chat-header-notifications::after {
  content: "";
  display: block;
  width: 0.4rem;
  height: 0.3rem;
  border-radius: 50%;
  background: #fd4948;
  position: absolute;
  top: 0;
  left: 1.2rem;
}

.chat-header-extension {
  width: 0.5rem;
  height: 1.6rem;
  background: url(/img/interface/ellipsis.svg) no-repeat;
  background-position: center;
}

.chat-input-area {
  height: 7rem;
}
